/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.special-box{
    width: 100%;
    display: flex;
     gap: 20px; 
    padding: 20px;
}
 
.din2 {
    width: 100%;

    background-color: red;
} 

.din3 {
    width: 100%;
    border-radius: 8px;
}

.din3 img { 
    width: 100%;
    height: auto;
}

.block1{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.card-info{
    display: flex;
    gap: 10px;
    align-items: center;

}

.dot1{
    width: 6px;
    height: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    
}

.dev{
    width: 100%;
    font-size: 21px;
    margin-top: 10px;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .blog-main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    /* display: flex;
    justify-content: center; */
  }
  
  /* .blog-sec{
      max-width: 1440px;
  } */
  
  .newsroom-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 20; */
    padding: 20px;
  
  }
  
  .hero {
    width: 45%;
    margin-right: 10px;
    /* height: 332px; */
  }
  
  .vertical-block {
    /* width: 633px;
      height: 172px;
      margin-top: 80px;
      margin-left: 90px; */
  }
  
  .newsroom {
    width: 100%;
    /* height: 84px; */
    font-size: 72px;
  }
  
  .commit {
    width: 90%;
    margin-top: 20px;
    font-size: 18px;
    /* background-color: red; */
  }
  
  .frame1 {
    /* width: 50%; */
    height: 79px;
    /* margin-top: -260px;
      margin-left: 900px; */
  }
  
  .browse {
    font-size: 18px;
  }
  
  .frame2 {
    width: 100%;
    /* height: 31px; */
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .box7 {
    /* width: 55px;
      height: 31px; */
    background-color: black;
    color: white;
    text-align: center;
    padding: 12px;
    gap: 10px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    /* font-size: 14px; */
  }
  
  /* .all{
      font-size: 15px;
      /* margin-top: -11px; 
      margin-left: 12px;
  } */
  
  .box8 {
    width: 6px;
    height: 6px;
    background-color: rgb(245, 3, 3);
    border-radius: 50px;
    /* margin-top: 3px; */
  }
  
  .box9 {
    /* height: 31px; */
    border-style: groove;
    border-width: 1px;
    border-color: black;
    /* color: rgb(0, 0, 0); */
    padding: 12px;
    gap: 8px;
    border-radius: 200px;
    display: flex;
  }
  
  /* .insight{
      text-align: center;
      /* margin-top: -10px; 
      margin-left: 15px;
      font-size: 14px;
  } */
  
  /* .tech{
      margin-top: -10px; 
      margin-left: 6px;
      font-size: 14px;
  } */
  
  .category-items {
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 31px;
  }
  
  .box10 {
    width: 6px;
    height: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
  }
  
  .box11 {
    width: 105px;
    height: 31px;
    border-style: groove;
    border-width: 2px;
    border-color: black;
    color: rgb(0, 0, 0);
    padding: 10px;
    gap: 8px;
    border-radius: 200px;
  }
  
  .box12 {
    width: 6px;
    height: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    /* margin-left: -4px; */
  }
  
  .box13 {
    width: 77px;
    height: 31px;
    border-style: groove;
    border-width: 2px;
    border-color: black;
    color: rgb(0, 0, 0);
    padding: 10px;
    gap: 8px;
    border-radius: 200px;
  }
  
  /* .event{
      /* margin-top: -10px; 
      margin-left: 15px;
      font-size: 14px;
  } */
  
  .box14 {
    width: 6px;
    height: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
  }
  
  .box15 {
    width: 88px;
    height: 31px;
    border-style: groove;
    border-width: 2px;
    border-color: black;
    color: rgb(0, 0, 0);
    padding: 10px;
    gap: 8px;
    border-radius: 200px;
  }
  
  /* .update{
      text-align: center;
      /* margin-top: -10px; 
      margin-left: 15px;
      font-size: 14px;
  } */
  
  .box16 {
    width: 6px;
    height: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
  }
  
  .din1 {
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center; */
    /* margin: auto; */
  }
  
  
  
  
  .special-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  /* background-color: red; */
  justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  
  
  
  
  
  .din2 {
    width: 350px;
    
  }
  
  
  .din3 {
    width: 100%;
    border-radius: 8px;
  }
  
  .din3 img {
    width: 100%;
    height: auto;
  }
  
  .block1 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  
  .card-info {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .dot1 {
    width: 6px;
    height: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
  }
  
  /* .news1{
      
  } */
  
  .dev {
    width: 100%;
    font-size: 21px;
    margin-top: 10px;
  }
  
  .din4 {
    width: 434px;
    height: 408px;
  }
  
  .din5 {
    width: 100%;
    height: 316px;
    border-radius: 8px;
    /* background-image: url(./image/Rectangle\ 6.png);
      background-size: cover;
      background-repeat: no-repeat; */
  }
  
  .block2 {
    width: 434px;
    height: 77px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .dot2 {
    width: 6px;
    height: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    margin-top: 5px;
  }
  
  .news2 {
    margin-left: -200px;
  }
  
  .dev1 {
    width: 434px;
    height: 50px;
    margin-top: -52px;
    font-size: 21px;
  }
  
  .din6 {
    width: 434px;
    height: 408px;
  }
  
  .din7 {
    width: 100%;
    height: 316px;
    border-radius: 8px;
    /* background-image: url(./image/Rectangle\ 7.png);
      background-size: cover;
      background-repeat: no-repeat; */
  }
  
  .block3 {
    width: 434px;
    height: 77px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .dot3 {
    width: 6px;
    height: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    margin-top: 5px;
  }
  
  .news3 {
    margin-left: -200px;
  }
  
  .dev2 {
    width: 434px;
    height: 50px;
    margin-top: -52px;
    font-size: 21px;
  }
  
  .special-box1 {
    width: 100%;
    height: 408px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
  }
  
  .din8 {
    width: 434px;
    height: 408px;
  }
  
  .din9 {
    width: 100%;
    height: 316px;
    border-radius: 8px;
    /* background-image: url(./image/Rectangle\ 5.png);
      background-size: cover;
      background-repeat: no-repeat; */
  }
  
  .block4 {
    width: 434px;
    height: 77px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .dot4 {
    width: 6px;
    height: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    margin-top: 5px;
  }
  
  .news4 {
    margin-left: -200px;
  }
  
  .dev3 {
    width: 434px;
    height: 50px;
    margin-top: -52px;
    font-size: 21px;
  }
  
  .din10 {
    width: 434px;
    height: 408px;
  }
  
  .din11 {
    width: 100%;
    height: 316px;
    border-radius: 8px;
    /* background-image: url(./image/Rectangle\ 6\ \(1\).png);
      background-size: cover;
      background-repeat: no-repeat; */
  }
  
  .block5 {
    width: 434px;
    height: 77px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .dot5 {
    width: 6px;
    height: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    margin-top: 5px;
  }
  
  .news5 {
    margin-left: -200px;
  }
  
  .dev4 {
    width: 434px;
    height: 50px;
    margin-top: -52px;
    font-size: 21px;
  }
  
  .din12 {
    width: 434px;
    height: 408px;
  }
  
  .din13 {
    width: 100%;
    height: 316px;
    border-radius: 8px;
    /* background-image: url(./image/Rectangle\ 7.png);
      background-size: cover;
      background-repeat: no-repeat; */
  }
  
  .block6 {
    width: 434px;
    height: 77px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .dot6 {
    width: 6px;
    height: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    margin-top: 5px;
  }
  
  .news6 {
    margin-left: -200px;
  }
  
  .dev5 {
    width: 434px;
    height: 50px;
    margin-top: -52px;
    font-size: 21px;
  }
  
  .special-box2 {
    width: 100%;
    height: 408px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
  }
  
  .din14 {
    width: 434px;
    height: 408px;
  }
  
  .din15 {
    width: 100%;
    height: 316px;
    border-radius: 8px;
    /* background-image: url(./image/Rectangle\ 6.png);
      background-size: cover;
      background-repeat: no-repeat; */
  }
  
  .block7 {
    width: 434px;
    height: 77px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .dot7 {
    width: 6px;
    height: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    margin-top: 5px;
  }
  
  .news7 {
    margin-left: -200px;
  }
  
  .dev6 {
    width: 434px;
    height: 50px;
    margin-top: -52px;
    font-size: 21px;
  }
  
  .din16 {
    width: 434px;
    height: 408px;
  }
  
  .din17 {
    width: 100%;
    height: 316px;
    border-radius: 8px;
    /* background-image: url(./image/Rectangle\ 7.png);
      background-size: cover;
      background-repeat: no-repeat; */
  }
  
  .block8 {
    width: 434px;
    height: 77px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .dot8 {
    width: 6px;
    height: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    margin-top: 5px;
  }
  
  .news8 {
    margin-left: -200px;
  }
  
  .dev7 {
    width: 434px;
    height: 50px;
    margin-top: -52px;
    font-size: 21px;
  }
  
  .din18 {
    width: 434px;
    height: 408px;
  }
  
  .din19 {
    width: 100%;
    height: 316px;
    border-radius: 8px;
    /* background-image: url(./image/new.png);
      background-size: cover;
      background-repeat: no-repeat; */
  }
  
  .block9 {
    width: 434px;
    height: 77px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .dot9 {
    width: 6px;
    height: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    margin-top: 5px;
  }
  
  .news9 {
    margin-left: -200px;
  }
  
  .dev8 {
    width: 434px;
    height: 50px;
    margin-top: -52px;
    font-size: 21px;
  }
  
  @media screen and (max-width: 920px) {
    .newsroom-head {
      flex-direction: column;
      align-items: flex-start;
      /* background-color: green; */
  
  
    }
  
    .hero {
      width: 80%;
      margin-right: 10px;
      /* height: 332px; */
    }
  
  .frame1 {
    margin: 30px 0;
  }
  
  .special-box {
    
    gap: 30px;
   
  }
  
  }
  
  
  @media screen and (max-width: 575px) {
   
  
    .hero {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 50px;
    }
  
    .newsroom {
      font-size: 43px;
    }
  
    .commit {
      font-size: 16px;
  
      width: 100%;
    }
  
    .frame1 {
      width: 100%;
      margin-bottom: 100px;
      margin-top: 0;
    }
  
    .browse {
      height: 24px;
      font-size: 16px;
    }
  
    .box9 {
   
    
   
    }
  
    .frame2 {
      flex-wrap: wrap;
      /* height: 31px; */
    }
  
    .din1 {
      width: 100%;
      height: 100%;
    }
  
    .special-box {
      align-items: center;
      flex-direction: column;
    }
  
    .din2 {
      width: 100%;
      
    }
  
    .dot1 {
      width: 6px;
      height: 6px;
      background-color: rgb(0, 0, 0);
      border-radius: 50px;
      margin-top: 5px;
    }
  
    .dev {
      height: 50px;
      font-size: 20px;
      font-weight:500;
    }
  
    
  }
  